server:
  port: 8888
  servlet:
    context-path: /
  tomcat:
    uri-encoding: UTF-8
    threads:
      min-spare: 50
      max: 1000

spring:
  application:
    name: buyer
  cache:
    type: redis
  #sql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.200.130:3306/shop?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8&allowMultiQueries=true
    username: root
    password: 123456
  #Redis
  redis:
    host: 192.168.200.130
    port: 6379
    database: 0
    timeout: 2000ms
  # 文件大小限制
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  jackson:
    time-zone: GMT+8
    serialization:
      fail-on-empty-beans: false
  flyway:
    ignore-ignored-migrations:
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23lihadb5gFGTSUnp0
            client-secret: 32abc684db817c0a0988fd06ccc24953c4c4214c
            redirect-uri: http://localhost:8888/buyer/passport/connect/github/callback
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: login


mybatis-plus:
  mapper-locations: classpath*:/mapper/*.xml
  configuration:
    #缓存开启
    cache-enabled: true
    #日志
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl


logging:
  config: classpath:logback-spring.xml
  #输出级别
  level:
    root: info
  file:
    path: shop-logs
  logback:
    rollingpolicy:
      max-history: 7
      max-file-size: 5MB

shop:
  verification-code:
    #图形验证码有效时间 秒 包含滑块验证码有效时间， 以及验证通过之后，缓存中存储的验证结果有效时间
    effective-time: 300
    #水印
    watermark: SHOP
    #干扰项数量 最大2 默认0
    interfereNum: 0
    #允许误差像素
    faultTolerant: 3
  data:
    rocketmq:
      promotion-topic: shop_promotion_topic
      promotion-group: shop_promotion_group
      msg-ext-topic: shop_msg_topic
      msg-ext-group: shop_msg_group
      goods-topic: shop_goods_topic
      goods-group: shop_goods_group
      order-topic: shop_order_topic
      order-group: shop_order_group
      member-topic: shop_member_topic
      member-group: shop_member_group
      store-topic: shop_store_topic
      store-group: shop_store_group
      other-topic: shop_other_topic
      other-group: shop_other_group
      notice-topic: shop_notice_topic
      notice-group: shop_notice_group
      notice-send-topic: shop_send_notice_topic
      notice-send-group: shop_send_notice_group
      after-sale-topic: shop_after_sale_topic
      after-sale-group: shop_after_sale_group

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
    enabled: true
    doc-expansion: none  # 移除单引号
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'buyer-api'
      paths-to-match: '/**'
      # 修改为实际的控制器包路径
      packages-to-scan: com.oyproj.controller
rocketmq:
  name-server: 192.168.200.130:9876
  producer:
    group: shop-producer-group  # 自定义一个唯一的生产者组名称
    send-message-timeout: 30000

# 忽略TOKEN 鉴权的url:

ignored:
  urls:
    - /editor-app/**
    - /actuator**
    - /actuator/**
    - /MP_verify_qSyvBPhDsPdxvOhC.txt
    - /weixin/**
    - /source/**
    - /buyer/payment/cashier/**
    - /buyer/payment/cashierRefund/**
    - /buyer/other/pageData/**
    - /buyer/other/article/**
    - /buyer/goods/**
    - /buyer/store/**
    - /buyer/passport/connect/**
    - /buyer/oauth2/authorization/**
    - /oauth2/authorization/**
    - /buyer/members/**
    - /buyer/passport/member/**
    - /buyer/passport/member/refresh/**
    - /buyer/promotion/pintuan/**
    - /buyer/promotion/seckill/**
    - /buyer/promotion/pointsGoods/**
    - /buyer/promotion/coupon
    - /buyer/member/evaluation/**/goodsEvaluation
    - /buyer/member/evaluation/**/evaluationNumber
    - /buyer/other/appVersion/**
    - /buyer/broadcast/studio/**
    - /druid/**
    - /swagger-ui.html
    - /doc.html
    - /v3/api-docs/**
    - /swagger-resources/**
    - /swagger/**
    - /webjars/**
    - /v2/api-docs
    - /configuration/ui
    - /boot-admin
    - /**/*.js
    - /**/*.css
    - /**/*.png
    - /**/*.ico
